<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>RVV - vroeger en nu</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--<script>
        if (screen.width <= 800) {
            $(location).attr('href', '/mobiel');
        }        
    </script>-->
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/RvV.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="#Startpagina">Home</a></li>
            <li><a href="#over">Over</a></li>
            <li><a href="#Parcours">Parcours</a></li>
            <li><a href="#Renners">Renners</a></li>
            <li><a href="#spel">Spel</a></li>
        </ul>
    </nav>
    <section id="Startpagina">
        <header>
            <h1><%= title %></h1>
            <h2>vroeger en nu</h2>
        </header>
        <img src="images/achtergrond.jpg" alt="homeBackground"/>
        <input type="image" src="images/button_scroll_down_geel.png" alt="submit" id="btnNaarOver"/>
    </section>
    <section id="over">
        <div>
            <h3>Vlaanderens mooiste</h3>
            <p>
                Reeds 95 jaar lang is er slechts 1 dag waar iedere wielerliefhebber echt naar uit kijkt, de dag van de Ronde van Vlaanderen.
                Ieder jaar hopen duizenden wielerfans een spannende wedstrijd te zien en ieder jaar weer vieren we een gekende held of verwelkomen
                we een nieuwe. Tientallen renners wisten Vlaanderens Mooiste aan hun palmares toe te voegen. Elk in hun eigen tijdsgeest, elk met
                verschillend materiaal, maar allemaal met dezelfde overgave. Met een kleine greep uit 95 jaar wielergeschiedenis, geven wij op deze
                site een overzicht van enkele historische momenten en hun hoofdrolspelers.
            </p>
            <input type="image" src="images/button_scroll_down_wit.png" alt="submit" id="btnNaarParcours" />
        </div>
    </section>

    <section id="Parcours">        
        <img id="parcourImg" src="images/Parcours/Parcours_1913.jpg" alt="Parcours_1913" class="afbeelding_parcours" />
        <div id="info"><%= info_parc %></div>
        <p id="controls">
            <span class="selected">1913</span>
            <span>1939</span>
            <span>1969</span>
            <span>1977</span>
            <span>1998</span>
            <span>2010</span>
            <span>2012</span>
        </p>
        <input id="btnToonInfo" type="image" src="images/info_icon.png" />
        <div id="infoOverParcours">
            <p></p>
            <ul>
            </ul>
            <p>Klik terug op info om dit venster te sluiten.</p>
        </div>
    </section>

    <section id="Renners">
        <div>
           
            <img id="foto1" src="images/Flandriens/<%= flandriens[0].img %>" alt="<%= flandriens[0].naam %>" class="afbeelding_renners" />
            <h1><span id="span1"><%= flandriens[0].naam %></span></h1>
            <div id="div1">
                <h2><%= flandriens[0].naam %></h2>
                <p><%= flandriens[0].beschrijving %></p>
                <span><%= flandriens[0].carriere %></span>
            </div>
        </div>
        <div>
            <img id="foto2" src="images/Flandriens/<%= flandriens[1].img %>" alt="<%= flandriens[1].naam %>" class="afbeelding_renners" />
            <h1><span id="span2"><%= flandriens[1].naam %></span></h1>
            <div id ="div2">
                <h2 id="h2"><%= flandriens[1].naam %></h2>
                <p><%= flandriens[1].beschrijving %></p>
                <span><%= flandriens[1].carriere %></span>
            </div>
        </div>
        <div >
            <img id="foto3" src="images/Flandriens/<%= flandriens[2].img %>" alt="<%= flandriens[2].naam %>" class="afbeelding_renners" />
            <h1><span id="span3"><%= flandriens[2].naam %></span></h1>
            <div id="div3">
                <h2><%= flandriens[2].naam %></h2>
                <p><%= flandriens[2].beschrijving %></p>
                <span><%= flandriens[2].carriere %></span>
            </div>
        </div>
        <input type="hidden" id="flandriens" value="<%= JSON.stringify(flandriens) %>">       
    </section>

   

    <section id="spel">
       <!-- <%- include partial/game_partial.html %>-->

        <input id="test" type="button" value="testknop"/>
    </section>


    
    <script src="scripts/ScrollPage.js"></script>
    <script src="scripts/Parcours.js"></script>
    <script src="scripts/Flandriens.js"></script>

   
    <!--<script src="http://localhost:8000/socket.io/socket.io.js"></script>  -->  
    
    
    <script src="http://localhost:1338/socket.io/socket.io.js"></script>

  

    <script src="scripts/Player.js"></script>
    <script src="scripts/game.js"></script>
    
</body>
</html>