@font-face {
    font-family: BigJohn;
    src: url(../fonts/BigJohn.ttf);
    src: url(../fonts/BigJohn.woff);
}
body {
    /*overflow-y:hidden; */
    background-color:#222;
    font-family: 'Hammersmith One', sans-serif;
}
::-webkit-scrollbar { 
    display: none; 
}
nav {
    width:100%;
    height:80px;
    background-color:#222;
    margin-top:0;  
    
    z-index: 9999; position: fixed; left: 0; top: 0;
}
	.f-nav{
           opacity: 0.6;
          -webkit-transition: opacity 1s ease;
             -moz-transition: opacity 1s ease;
             -ms-transition: opacity 1s ease;
             -o-transition: opacity 1s ease;
              transition: opacity 1s ease;   }
        
    nav ul{
        list-style-type:none;
        margin:0;
        padding:0;
        position:absolute;
        right:0;
        margin-right:25px;
    }
    nav ul li {
        float:left;
        padding:30px 25px 30px 25px;
    }
    nav ul li:hover {
        height: 80px;
        background-color:rgba(255,213,68,0.6);
    }
    .active{
        height: 80px;
        background-color:rgba(255,198,0,0.6);
    }
    
    nav ul li a {
        text-decoration:none;
        color:white;
        font-size:1.5em;
    }
    nav ul li a:hover {
        text-decoration:none;
        color:white;
    }
header{
    position:absolute;
    text-align:center;
    color:#FFFFF0;
    left:50%;
    width:960px;
    margin-left:-480px;
    margin-top:15%;
    font-family:BigJohn;
}
    header h1 {
        font-size:3.5em;
    }
    header h2 {
        font-size:2.5em;
    }
#Startpagina img {
    width:100%;
    height:100%;
}
input[type="image"] {
    display:block;
    width:100px;
    margin:-20% auto;
}
#btnNaarParcours{
    margin:5% auto;
}
#over {
    position:relative;
    margin-top:30%;
    color:white;
    background-color:#222222;
    width:100%;
    min-height:100%;
    margin-bottom:20%;
   
}
#over>div{
    margin:0 auto;
    padding-top:12%;
    width:1200px;
    font-size:1.5em;
}
    #over>div>h3 {
        text-align:center;
        font-size:2em;
    }

#Parcours{
     position:relative;  
     width:100%; 
     margin-bottom:1%;    
}
#Parcours img {   
    width: 100%;
}
#btnToonInfo{
    width:50px;
    position:absolute;
    left:0;
    top:0;
    margin:7% 10px;
}

#controls { 
  font-family:BigJohn;
  font-size:2em;
  text-align:center;
  background-color:#000;
  opacity:0.8;
  position: absolute; 
  bottom:0;
  margin-bottom:0;
  padding-bottom:0;
  left: 0; 
  width: 100%;
  height: 50px;
}
#controls span {
  padding-right:1em;
  padding-left:1em;
  cursor:pointer;
  color:white;
}
.selected {
    padding:6px 1em 16px 1em;
    background-color:rgba(255,213,68,0.6);
}
#info{
    display: none;
}

#infoOverParcours {
    display:none;
    position:absolute;
    top:0;
    left:50%;
    margin:10% 0 0 -400px;
    background-color:rgba(34,34,34,0.8);
    width:800px;
    height:420px;
    color:white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;    
    font-size:1.2em;
}
    #infoOverParcours p {
        padding:25px;
    }
     #infoOverParcours ul {
        list-style-type:none;
    }

#Renners{
    padding:0;
    margin:0;
    width:100%;
}
.afbeelding_renners{
        width:100%;
}
#Renners div{
    width: 33%;
    float:left;
    position: relative; 
    margin-right:0.33%;
    
}
#Renners div:last-of-type{
    margin:0px;
    
}
#Renners h1 {    
   position: absolute; 
   bottom: 50px; 
   left: 0; 
   width: 100%; 
}
#Renners div div {    
   position: absolute; 
   top: 0px; 
   color:white;
   background-color:#464646;
   left: 100px; 
   width: 220%; 
   font: bold 1.6em Helvetica, Sans-Serif; 
   visibility:hidden;
   padding-right: 40%;
   padding-left: 20%;     
   padding-top:20%;
   height:100%;
   
   
}
#Renners div span {
    font: bold 1.0em Helvetica, Sans-Serif;
   
}
#Renners div h2 {
    font: bold 2.1em Helvetica, Sans-Serif; 
}
#Renners h1 span { 
   color: white; 
   font: bold 1.1em Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

   



