<div>
    <h1>dit is een test</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar egestas egestas. Maecenas eu justo id odio pellentesque ullamcorper. Nulla tristique dictum erat in rutrum. Vivamus id commodo quam, eget dapibus dolor. Pellentesque porta vel velit posuere volutpat. Ut enim eros, consequat vel ipsum vel, auctor bibendum ex. Nulla magna mi, bibendum eu condimentum eget, ultrices quis ipsum. Praesent eu neque eget nibh malesuada ornare hendrerit sit amet justo. In sem dolor, tincidunt sed luctus sit amet, iaculis a purus.

Duis auctor augue at elementum volutpat. Curabitur elementum urna neque, sit amet cursus risus luctus vel. In vitae iaculis nunc. Curabitur ut dictum metus, vel dictum neque. Nullam nec elit vel lorem ultrices interdum gravida ac dui. Ut pellentesque eu ex quis tempus. Cras faucibus odio quam, id dapibus nulla feugiat ut. Suspendisse sit amet efficitur nunc. Mauris egestas purus urna, eget aliquam nisi rutrum sit amet. Proin suscipit erat semper massa congue cursus.</p>
    <canvas id="gameCanvas"></canvas>
    
</div>